.slip-management {
  height: 100%;
}

.slip-management__upload {
  width: 400px;
  height: 200px;
  background-color: lightgray;
}

table {
  width: 100%;
}

.slip-management__input {
  border: none;
}

.slip-management__cell {
  background-color: orange;
}
